.component
    width: 360px
    display: flex
    flex-direction: column
    gap: 24px
    margin-right: 40px
    padding: 0
    @media (max-width: 480px)
        width: 100%
        margin-right: 0
        padding: 0 24px

.figLabel
    font-family: 'IBM Plex Serif'
    font-style: italic
    font-weight: 400
    font-size: 16px
    color: #a6a6a6
    user-select: none
    cursor: default

.container
    width: 360px
    display: flex
    flex-direction: row
    gap: 32px
    align-items: flex-end
    justify-content: center
    @media (max-width: 480px)
        gap: 24px
        justify-content: flex-start

.fig
    $width: 300px
    width: $width
    height: $width
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-family: "JetBrains Mono", monospace
    font-size: 24px
    color: #ffffff
    @media (max-width: 480px)
        $width: 280px
        width: $width
        height: $width
